<!--<div class="loginBody">
    <div class="loginBox">
        <div class="loginCardBox">
            <div class="contentBox">
                <div class="logoBox">
                    <img class="logo" src="assets/img/kylinLogo2.png">
                </div>
                <div class="formBox">
                    <p class="formTitle">框架平台管理系统</p>
                    <ks-login-form></ks-login-form>
                    <div class="linkBox">
                        <button fis-button type="button" [uiType]="'link'" (click)="getPasswordForm()">修改密码</button>
                    </div>
                </div>
                <div class="footerbox"></div>
            </div>
        </div>
    </div>

    <div class="passwordBox" [@passwordShowAnimation]="passwordShow ? 'visible' : 'hidden'">

        <div class="passwordCardBox">
            <div class="contentBox">
                <div class="logoBox">
                    <img class="logo" src="assets/img/kylinLogo2.png">
                </div>
                <div class="formBox">
                    <p class="formTitle">密码修改</p>
                    <ks-passwd-form (backToLogin)="getloginForm()"></ks-passwd-form>
                    <div class="linkBox">
                        <button fis-button type="button" [uiType]="'link'" (click)="getloginForm()">返回登录</button>
                    </div>
                </div>
                <div class="footerbox"></div>
            </div>
        </div>
    </div>
</div>-->
login in
